.absolute-center{
    display:flex;
    justify-content: center;
    align-items: center;

}

.max-width{
    width : 80%;
    margin: auto;

}

.cur-po{
    cursor : pointer;
}

.heading {
    background: var(--text-gradient-bg); 
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
   
}
